{% extends "layout.html" %} {% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>New Product</h1>
    </div>
    <div class="panel-body">
        <form action="/product/new" method="post">
            <div class="form-group">
    <input class="form-control" name="name" type="text" placeholder="Name" />
</div>
<div class="form-group">
    <input class="form-control" name="price" type="number" placeholder="Price" />
</div>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}