{% extends "layout.html" %} {% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>New Customer</h1>
    </div>
    <div class="panel-body">
        <form action="/customer/edit/{{customer._id}}" method="post">
            <input name="_id" type="hidden" value='{{customer._id}}' />
            <div class="form-group">
                <input class="form-control" name="firstName" type="text" placeholder="First name" value='{{customer.firstName}}' />
            </div>
            <div class="form-group">
                <input class="form-control" name="lastName" type="text" placeholder="Last name" value='{{customer.lastName}}' />
            </div>
            <div class="form-group">
                <input class="form-control" name="street" type="text" placeholder="100 Main St." value='{{customer.street}}' />
            </div>
            <div class="form-group">
                <input class="form-control" name="city" type="text" placeholder="Anytown" value='{{customer.city}}' />
            </div>
            <div class="form-group">
                <input class="form-control" name="state" type="text" placeholder="New Jersey" value='{{customer.state}}' />
            </div>
            <div class="form-group">
                <input class="form-control" name="zip" type="text" placeholder="07430" value='{{customer.zip}}' />
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}