{% extends "layout.html" %} {% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>New Order</h1>
    </div>
    <div class="panel-body">
        <form action="/order/new" method="post">
            <div class="row">
                <div class="col col-sm-12">
                    <div class="form-group">
                        <label for="customer">Customer</label>
                        <select class="form-control" name="customerId" required="required">
                            <option value=""> </option>
                            {% for customer in customers %}
                            <option value="{{customer._id}}">{{customer.firstName}} {{customer.lastName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12">
                    <div class="form-group">
                        <label for="product">Product</label>
                        <select class="form-control" name="productId" required="required">
                            <option value=""> </option>
                            {% for product in products %}
                            <option value="{{product._id}}">{{product.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-4">
                    <div class="form-group">
                        <label for="day">Day</label>
                        <select class="form-control" name="day" required="required">
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div class="form-group">
                        <label for="month">Month</label>
                        <select class="form-control" name="month" required="required">
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input class="form-control" name="year" type="number" min="2000" value="2000" required="required" />
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}